.desktop-icon {
  width: 115px;
  height: 100px;
  color: #fff;
  text-align: center;
  background: no-repeat center top;
  padding-top: 55px;
  margin: 10px;
  user-select: none;
  /* animation-duration: 0.01s;
  animation-name: imgflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.is-click {
  background-color: #3e45b6;
  border: 1px white dotted;
}

.pending-click {
  border: 1px white dotted;
}

/* @keyframes imgflicker {
  from {
    filter: drop-shadow(1px 0 0 #ea36af, -2px 0 0 #75fa69);
  }
  to {
    filer: drop-shadow(2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69);
  }
} */
